.mainContent {
    padding-top: 136px;

    .mainContent-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main-content-info {
            .main-content-info-inner {
                .main-content-info-inne-intro {
                    font-family: "Poppins", sans-serif;
                    color: #000000;
                    font-weight: 600;
                    font-size: 24px;
                }

                .main-content-info-inne-introduction {
                    margin-top: -10px;
                    color: #FF6300;
                    font-weight: 600;
                    font-size: 32px;
                    font-family: "Poppins", sans-serif;

                }

                .main-content-info-inne-intro-jobs {
                    margin-top: -40px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    font-size: 100px;
                    color: #000000;
                }

                .main-content-info-inne-intro-jobs-header {
                    margin-top: -60px;
                    font-family: "Poppins", sans-serif;
                    font-weight: 700;
                    font-size: 100px;
                    color: #000000;
                    margin-left: 137px;
                }

                .introduction-text {
                    width: 706px;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    font-size: 21px;
                }

                .hire-me-btn {
                    margin-top: 20px;
                    background-color: #FF6300;
                    padding: 11px 50px 11px 50px;
                    border: none;
                    color: #FFFFFF;
                    font-family: "Poppins", sans-serif;
                }

            }

        }

        .mainContent-inner-person-intro-svg {
            .links-nav-menu {
                .links-nav {
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    gap: 26px;
                }


            }
        }
    }
}